<p>
    <mat-toolbar>
      <span>BIENVENIDO A NOSOTROS </span> 
    </mat-toolbar>

    <!DOCTYPE html>
    <html>
    <body>
      <img src="assets/Nosotros.2.jpg" width="400" height="400" style="display: block; margin: 0 auto;">
    </body>
    </html>

    <mat-tab-group>
      <mat-tab label="Contacto">821-279-0998 
        rolando.bernal@utl.edu.mx</mat-tab>
      <mat-tab label="Redes">Facebook:UT Linces Instagram: UT Linares</mat-tab>
      <mat-tab label="Ubicacion"> <!DOCTYPE html>
        <html>
        <body>
          <img src="assets/maps.jpg" width="700" height="500" style="display: block; margin: 0 auto;">
        </body>
        </html></mat-tab>
    </mat-tab-group>

  


    

  </p>

  