<p>
    <mat-toolbar>
      <span>BIENVENIDO A INICIO</span> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </mat-toolbar>
  </p>
  
  <!DOCTYPE html>
  <html>
  <body>
    <img src="assets/logoUT.jpg" width="300" height="300" style="display: block; margin: 0 auto;">
  </body>
  </html>
  
  

  <mat-tab-group>
    <mat-tab label="Carrera TSU:TIDSM">
      <!DOCTYPE html>
  <html>
  <body>
    <img src="assets/Software2.jpg" width="500" height="500" style="display: block; margin: 0 auto;">
  </body>
  </html>
    </mat-tab>
    <mat-tab label="MISIÓN">La carrera de Ingeniería en Desarrollo y Gestión de Software busca formar estudiantes competentes a nivel de Técnico Superior Universitario e Ingeniería desarrollando nuevos conocimientos y habilidades en el uso de las tecnologías que contribuyan a solucionar problemáticas dentro de los sectores educativos, productivos y sociales. </mat-tab>
    <mat-tab label="VISIÓN">Ser para el 2025 uno de los mejores programas educativos de desarrollo y gestión de software con mayor demanda en la región, que ayude a formar alumnos competentes en el área tecnológica y humanística, asegurando la calidad educativa mediante acreditaciones y certificaciones de calidad. </mat-tab>
  </mat-tab-group>

 
 
  